<div class="cards-container">
    <ng-container *ngFor="let movie of (movies$ | async); let i = index">
        <mat-card [style.background-color]="movie.backgroundColor || (bgColor$ | async)">
            <mat-card-content>
                <span class="color-btn-wrapper">
                    <button
                        type="color" 
                        mat-icon-button 
                        matTooltip="Change background color"
                        [cpOKButton]="true"
                        [cpPosition]="'bottom'"
                        [cpPositionOffset]="'50%'"
                        [cpPositionRelativeToArrow]="true"
                        [colorPicker]="movie.backgroundColor || (bgColor$ | async)"
                        (colorPickerSelect)="changeContainerColor($event, i)">
                        <mat-icon>color_lens</mat-icon>
                    </button>
                </span>
                <div>{{ movie.name }}</div>
                <a [href]="movie.imdbLink" target="_blank" ellipsisOverflow>
                    Watch <b>{{movie.name}}</b> on Imdb
                </a>
            </mat-card-content>
        </mat-card>
    </ng-container>
</div>
